<h1>Printing Quotes</h1>
<div>
  <%= form_for(:form) do |f| %>
    <div class="form-group <%= "has-error" unless @cache.quote_valid? %>">
      <%= f.label "What is the quote?" %>
      <%= f.text_area :quote, class: "form-control" %>
    </div>
    <div class="form-group <%= "has-error" unless @cache.name_valid? %>">
      <%= f.label "Who said it?" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit %>
  <% end %>
</div>

<div>
  <% if @cache.name %>
    <p>
      <%= @cache.name.to_s %> says "<%= @cache.quote.to_s %>"
    </p>
  <% end %>
</div>

<div>
  <%= form_for(:form, method: :delete) do |f| %>
    <%= f.submit 'Delete' %>
  <% end %>
</div>
