<%# app/views/counting_characters/index.html.erb %>
<p>What is the input string?</p>
<%= form_for(:form, remote: true) do |f| %>
  <%= f.text_field :input, onkeyup: "postCreate(value)" %>
  <%#<%= f.text_field :input %>
  <%= f.submit %>
<% end %>

<div id="charcount">
  <%= render 'charcount' %>
</div>
