<!DOCTYPE html>
<html>
<head>
  <title>ExercisesForProgrammersRails</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container-fluid">
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div class="navbar-brand">
      Exercises for Programmers (In Rails)
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>

  <% unless current_page?(root_path) %>
    <%= link_to 'Back', root_path %>
  <% end %>
</div>

</body>
</html>
